* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
}
.container {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom,
    #009688 15% , #DADBD3 15%);
}
.wrapper {
    display: flex;
    width: 80vw;
    height: 95vh;
    margin: auto;
}
.riga1_sx  {
    width: 100%;
    height: 7.2vh;
    background-color: #EAEAEA;
}
/* common */
.box_utente {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}
.box_utente img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.nome {
    font-size: 20px;
}
.box_icone {
    position: absolute;
    right: 10px;
}
.box_icone  i {
    font-size: 30px;
    color: #B1B1B1;
    margin: 10px;
}
/* /common */
/* sezione box sx  */
.box_sx {
    width: 35%;
    height: 100%;
    background-color: white;
    border-right: 1px solid lightgray;
}
.riga1_sx {
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px;
}

/* riga 2 notifiche */
.notifiche {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 8.6%;
    background-color: #8EDAFC;
}
.box_bell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #FAFAFA;
    border-radius: 50%;
    margin-right: 10px;
}
.box_bell i {
    font-size: 25px;
    color: #8EDAFC;
}
.box_link a{
    color:gray;
}

/* riga 3 cerca */
.cerca {
    width: 100%;
    height: 5.8%;
    background-color:#FAFAFA ;
    padding: 10px;
}
.box_cerca {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
}
.box_cerca i {
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    color: #B1B1B1;
}
.box_cerca input {
    width: 100%;
    height: 100%;
    border: none;
    padding-left: 10px;
    font-size: 16px;
}
/* righe sezione contatti  */
.box_contatti { 
    width: 100%;
    height: 8.6%;
}
.contatto {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: white;
    border-top: 1px solid #FAFAFA;
}
/* /sezione box sx  */

/* sezione box dx  */
.riga1_dx {
    width: 100%;
    height: 7.2vh;
    background-color: #EAEAEA;
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px;
}
.box_dx {
    width: 65%;
    height: 95vh;
    background-color: lightgreen;
}
.messaggi {
    position: relative;
    width: 100%;
    height: 80.6vh;
    background-image: url(../img/mine.jpg);
}
.box_messaggio {
    max-width: 80%;
    min-width: 50%;
    margin: 40px;
    padding: 30px;
}
.messaggio_ricevuto {
    float: left;
    background-color: white;
    border-top: 1px solid #B1B1B1;
    border-left: 1px solid #B1B1B1;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}
.messaggio_inviato {
    float: right;
    background-color: rgb(171, 250, 185);
    border-top: 1px solid #B1B1B1;
    border-right: 1px solid #B1B1B1;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
}

.scrivi{
    display: flex;
    align-items: center;
    width: 100%;
    height: 7.2vh;
    background-color: #EAEAEA;
    padding: 15px;
}
.box_scrivi {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.box_scrivi i {
    font-size: 35px;
    padding-left: 30px;
    padding-right: 30px;
    color: gray;
}
.box_scrivi input {
    width: 100%;
    height: 100%;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    padding: 10px;

}
/* /sezione box dx  */




