<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>BoolZapp</title>
</head>
<body>
    <div id="root" class="container">
        <div class="wrapper">
            <section class="box_sx">
                <!-- sezione 1 sinistra top con utente e icone -->
                <div class="riga1_sx">
                    <div class="box_utente">
                        <img src="img/avatar_io.jpg" alt="avatar">
                    </div>
                    <div class="nome">Elena</div>
                    <div class="box_icone">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <!-- /sezione 1 sinistra top con utente e icone -->
                <!-- sezione 2 notifiche  -->
                <div class="notifiche">
                    <div class="box_bell">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                    <div class="box_link">
                        <h4>Ricevi notifiche di nuovi messaggi</h4>
                        <a href="">Attiva notifiche desktop</a>
                    </div>
                </div>
                <!-- /sezione 2 notifiche  -->
                <!-- sezione 3 cerca -->
                <div class="cerca">
                    <label class="box_cerca">
                        <i class="fas fa-search"></i> 
                        <input type="text" placeholder="Cerca o inizia una nuova chat">
                    </label>
                </div>
                <!-- /sezione 3 cerca -->
                <!-- sezione 4 contatti -->
                <div class="box_contatti">
                    <div class="contatto" v-for="(contact,index) in contacts" @click="indexContact(index)" :class="(contattoCliccato == index) ? 'active' : null">
                        <div class="box_utente">
                            <img :src="'img/avatar' + contact.avatar + '.jpg'" :alt="contact.name">
                        </div>
                        <div class="nome">{{contact.name}}</div>
                    </div>
                   
                </div>
               
            </section>
            <section class="box_dx">
                <div class="riga1_dx">
                    
                        <div class="box_utente">
                            <img :src="'img/avatar' + contacts[contattoCliccato].avatar + '.jpg'" :alt="contacts[contattoCliccato].name">
                        </div>
                        <div>
                            <div class="nome">{{contacts[contattoCliccato].name}}</div>
                            <div class="accesso" >Ultimo accesso oggi alle </div>
                        </div>
                    
                    
                    <div class="box_icone">
                        <i class="fas fa-search"></i> 
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <!-- sezione di scambio messaggi -->
                <div class="messaggi">
                    <div  v-for="message in contacts[contattoCliccato].messages" class="box_messaggio " :class="(message.status == 'sent') ? 'messaggio_ricevuto' : 'messaggio_inviato'">{{message.message}}
                        <div class="time">{{message.date}} </div>
                    </div>
                    <!-- <div class="box_messaggio messaggio_inviato">Questa è la risposta</div> -->
                </div>
                <!-- /sezione di scambio messaggi -->
                <div class="scrivi">
                    <div class="box_scrivi">
                        <i class="far fa-smile"></i>
                        <input type="text"  v-model="newMessage" placeholder="Scrivi un messaggio" @keyUp.enter="addMessage">
                        <i class="fas fa-microphone"></i>
                    </div>
                </div>

            </section>

        </div>
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/main.js"></script>
</body>
</body>
</html>